pkgbase = asudo
	pkgdesc = Launch a command in a session-scoped sudo broker environment
	pkgver = 0.0.1
	pkgrel = 2
	url = https://github.com/jadenjsj/asudo
	arch = any
	license = MIT
	depends = bash
	depends = python
	depends = sudo

pkgname = asudo
